@import "variables";
@import "mixin";

.footer {
  background: #1e1e1e;
  padding-top: 1rem
}

.last_text {
  background: #111
}

.footer_main>ul {
  list-style: none;
  display: grid !important;
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 20px;
  grid-row-gap: 20px
}

.footer_main>ul>li>a {
  color: #818181;
  width: fit-content;
  font-size: 12px;
  text-align: justify;
  display: flex;
  margin: 10px 0;
  align-items: center;
  transition: all .3s;
  gap: 5px
}

.footer_main>ul>li>a svg {
  width: 15px;
  height: 15px;
  transition: all .3s;
  fill: #818181
}

.footer_main>ul>li>a:hover {
  text-decoration: none;
  color: $mainColor
}

.footer_main>ul>li>a:hover svg {
  fill: $mainColor
}

.footer_main>ul>li>a i {
  transition: all .3s
}

.footer_main>ul>li>a:hover i {
  transform: translateX(-3px)
}

.footer_main>ul>li>h6 {
  color: #fff;
  text-align: justify;
  width: 100%;
  font-size: 18px;
  padding-bottom: 10px;
  margin: 10px 0 5px;
  font-family: $fontFamilyBold
}

.footer_main>ul>li.aboutUs>span {
  color: #818181;
  font-size: 14px;
  text-align: justify;
  margin: 10px 0 3px 0;
  display: flex;
  align-items: center;
  line-height: 1.9;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical
}

.footer_main>ul>li>p {
  text-align: justify;
  color: #818181;
  font-size: 14px;
  overflow: hidden;
  width: 100%;
  display: -webkit-box;
  -webkit-line-clamp: 8;
  -webkit-box-orient: vertical;
  line-height: 2;
  margin: 10px 0 0
}

.footer_main>ul>li>h6>img {
  width: 100px
}

.call {
  display: flex;
  flex-direction: column
}

.call span {
  margin: 6px 0;
  display: flex;
  color: #818181;
  font-size: 14px;
  text-align: justify;
  align-items: center
}

.easy_access {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 10px;
  &.blog{
    grid-template-columns: repeat(1, 1fr);
  }
}

.easy_access>.easy_access_link {
  color: #818181;
  display: flex;
  width: fit-content;
  padding: 6px 0;
  font-size: 14px;
  transition: all .3s;
  p{
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }
}

.easy_access>.easy_access_link:hover {
  text-decoration: none;
  color: $mainColor
}

.call span i {
  margin-left: 5px
}

.call span i svg {
  width: 17px;
  height: 17px;
  fill: #818181
}

.call span a {
  color: #818181;
  transition: all .3s;
  direction: initial
}

.call span a:hover {
  color: $mainColor;
  text-decoration: none
}

.footer_icons {
  display: flex;
  margin-top: auto
}

.footer_icons a {
  margin-left: .5rem;
  padding: 8px;
  border-radius: 100%;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .2s;
  font-size: 1.5rem;
  &:hover {
    text-decoration: none;
    svg{
      fill: #fff;
    }
  }
}

.footer_icons a svg {
  fill: #818181;
  width: 39px;
  height: 39px;
}

.namads {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: auto;
  gap: 10px
}

.namads>a {
  width: 80px;
  height: 80px;
  background: #fff;
  border-radius: 8px;
  padding: 5px 10px;
  margin: 5px 0;
  box-shadow: 0 3px 1px #aaa
}

.namads>a>img {
  width: 100%;
  height: 100%;
  object-fit: cover
}

.last_text {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  margin-top: 1rem;
  border-top: 1px solid #eee;
  font-size: 13px
}

.last_text a {
  color: #ccc;
  transition: all .3s
}

.last_text p {
  margin: 0;
  color: #eee
}

.last_text a:hover {
  text-decoration: none;
  color: $mainColor
}

.scroll-top_active {
  transform: translateX(-30px);
  transition: all .4s cubic-bezier(0.1, 1.5, 1, 1.5)
}

@media(max-width: 990px) {
  .footer_main>ul {
    grid-template-columns:repeat(2, 1fr)
  }
}

@media(max-width: 768px) {
  .footer_main>ul {
    grid-template-columns:repeat(1, 1fr)
  }
}