@import "./variables";
@import "./mixin";
@import "./fonts";

.text-nav-brand {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 1rem;
  gap: 5px;
  h1 {
    font-family: $fontFamilyBold;
    color: #333;
    font-size: 1.6rem;
    padding: 0;
    margin: 0;
  }

  span {
    font-family: $fontFamilyBold;
    color: #333;
    font-size: .6rem;
    padding: 0;
    margin: 0;
  }
}

.box_button_header {
  display: flex;
  gap: 10px;
}

.button_header {
  @include flex-center-all();
  height: 39px;
  margin: 0;
  padding: 0 23px;
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
  border-radius: $rounded;
  transition: color .1s linear,background-color .1s linear,border-color .1s linear;
  &.active{
    border-color: $mainColor;
    color: #fff;
    background-color: $mainColor;
    &:hover{
      background-color: #fff;
      border-color: #fff;
      color: #a2a2a2;
    }
  }
  &.outline{
    color: #333;
    border: 2px solid #333;
    background-color: transparent;
    &:hover{
      color: #fff;
      background-color: $mainColor;
      border-color: $mainColor;
    }
  }
}

#navbar {
  width: 100%;
  z-index: 250;
  display: flex;
  align-items: center;
  height: 90px;
  background: #fff9;
  &.fixedmenu{
    animation: anim .5s;
    position: fixed;
    background: #fff;
    border-bottom: 2px solid #ddd;
    box-shadow: 0 0 5px #fefefe;
  }
}

@keyframes anim {
  from{
    transform: translateY(-100%);
  }
  to{
    transform: translateY(0);
  }
}

.nav-menus-wrapper {
  margin-left: auto;
  margin-right: 30px;
  display: flex;
  align-items: center;
}

.nav-toggle {
  width: 39px;
  height: 40px;
  border-radius: $rounded;
  display: none;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  border-color: $mainColor;
  color: #fff;
  background-color: $mainColor;
}

.nav-toggle > svg {
  width: 25px;
  height: 25px;
  fill: #fff;
}

.navigation-portrait .nav-toggle {
  display: flex
}

.navigation-portrait .nav-menus-wrapper {
  width: 320px;
  height: 100%;
  top: 0;
  left: -400px;
  position: fixed;
  background-color: #fff;
  z-index: 102;
  overflow-y: auto;
  transition: all .3s;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.navigation-portrait .nav-menus-wrapper.nav-menus-wrapper-open {
  left: 0;
}

.nav-menus-wrapper-close-button {
  display: none;
}

.navigation-portrait .nav-menus-wrapper-close-button > svg {
  width: 100%;
  height: 100%;
  fill: #777;
  transition: all .3s
}

.navigation-portrait .nav-menus-wrapper-close-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 50px;
  height: 50px;
  padding: 10px
}

.nav-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 35px;
  height: 100%;
  align-items: center;
}

.navigation-portrait .nav-menu {
  width: 100%
}

.nav-menu > li {
  display: flex;
  text-align: right;
  height: 100%;
  position: relative;
}

.navigation-portrait .nav-menu > li {
  width: 100%;
  position: relative;
  border-top: solid 1px #ccc;
}


.nav-menu > li > a {
  display: flex;
  cursor: pointer;
  text-decoration: none;
  color: #333;
  transition: all .3s;
  align-items: center;
  justify-content: space-between;
  position: relative;
  gap: 5px;
  font-size: 14px;
  height: 70px;
  font-family: $fontFamilyBold;
}

.navigation-portrait .nav-menu > li > a {
  width: 100%;
  height: auto;
  padding: 12px 15px 12px 26px;
}

.nav-overlay-panel {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
  display: none;
  z-index: 101
}

.no-scroll {
  width: 100%;
  height: 100%;
  overflow: hidden
}

.nav-dropdown {
  min-width: 200px;
  margin: 0;
  display: none;
  position: absolute;
  list-style: none;
  z-index: 98;
  white-space: nowrap;
  background: #262626;
  padding: 7px 0;
  top: 100%;
}

.nav-dropdown.nav-submenu .nav-submenu {
  top: 0;
}

.nav-dropdown > li {
  display: flex
}

.a_header_active {
  color: #fff !important;
  transition: all .3s;
  background: $mainColor;
}

.navigation-portrait .nav-dropdown {
  width: 100%;
  position: static;
  left: 0
}

.nav-dropdown li:hover svg {
  fill: #fff;
}

.nav-dropdown .submenu-indicator svg {
  transform: rotate(90deg);
  fill: #9d9d9d;
}

.nav-dropdown .nav-dropdown {
  right: 100%;
}

.nav-dropdown > li > a {
  width: 100%;
  padding: 9px 20px;
  float: right;
  text-decoration: none;
  color: #9d9d9d;
  font-size: 12px;
  font-family: $fontFamilyBold;
  text-align: right;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all .3s;
  cursor: pointer;
}

.nav-dropdown > li.focus > a, .nav-dropdown > li:hover > a {
  color: #fff !important;
}

.nav-dropdown.nav-dropdown-left {
  right: 0
}

.nav-dropdown > li > .nav-dropdown-left {
  left: auto;
  right: 100%
}

.navigation-landscape .nav-dropdown.nav-dropdown-left > li > a {
  text-align: right
}

.navigation-portrait .nav-dropdown > li > a {
  padding: 10px;
}

.nav-dropdown-horizontal {
  width: 100%;
  left: 0;
  background-color: #fdfdfd;
  border-top: solid 1px #f0f0f0
}

.nav-dropdown-horizontal .nav-dropdown-horizontal {
  width: 100%;
  top: 100%;
  left: 0
}

.navigation-portrait .nav-dropdown-horizontal .nav-dropdown-horizontal {
  border-top: none
}

.nav-dropdown-horizontal > li {
  width: auto;
  clear: none;
  position: static
}

.navigation-portrait .nav-dropdown-horizontal > li {
  width: 100%
}

.nav-dropdown-horizontal > li > a {
  position: relative
}

.navigation-portrait .nav-dropdown-horizontal .submenu-indicator {
  transform: rotate(0)
}

.nav-dropdown-horizontal .submenu-indicator {
  transform: rotate(90deg)
}

.navigation-portrait .nav-dropdown-horizontal .submenu-indicator.submenu-indicator-up, .navigation-portrait .submenu-indicator.submenu-indicator-up {
  transform: rotate(-180deg)
}

.submenu-indicator {
  transition: all .2s;
  width: 13px;
  height: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.submenu-indicator > svg {
  width: 100%;
  height: 100%;
  fill: #333;
}

.navigation-portrait .nav-menu > li > a {
  width: 100%;
  height: auto;
}

.logIn {
  transition: all .3s;
  display: flex;
  align-items: center;
  font-size: 14px;
  padding: 8px 16px;
  border-radius: $rounded;
  svg {
    transition: all .3s;
  }
  &:hover {
    background-color: $secondColor;
    border-color: $secondColor;
    text-decoration: none;
    color: #fff;
    svg {
      fill: $mainColor;
    }
  }
}

.logIn i {
  margin-left: 5px;
  display: none;
}

/*container bootstrap 5*/
@media (min-width: 1200px) {
  .container {
    max-width: 1250px !important;
  }
}

/*container bootstrap 5*/
@media (max-width: 1200px) {
  .nav-menus-wrapper {
    margin-right: 10px;
  }
  .nav-menu {
    gap: 10px;
  }
  .logIn {
    font-size: 14px;
  }
  .button_header {
    font-size: 14px;
  }
}

@media (max-width: 1120px) {
  .nav-menu {
    gap: 20px
  }
}

@media (max-width: 1024px) {
  .nav-menu {
    gap: 20px;
  }
}


@media (max-width: 992px) {
  .box_button_header {
    margin-right: auto
  }
}
@media (max-width: 991px) {
  .nav-menu > li > a {
    font-size: 14px;
    color: #333!important;
    svg{
      fill: #333!important;
    }
  }
  .nav-dropdown > li {
    flex-direction: column;
  }
  .logIn {
    padding: 10px
  }
  .logIn > i > svg {
    fill: #fff;
    width: 20px;
    height: 20px;
  }
  .logIn > i {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  .logIn > span {
    display: none;
  }
  .nav-menu {
    gap: 0;
    height: unset;
  }
  .navigation-portrait .nav-menu > li {
    height: unset;
    flex-direction: column;
  }
  .nav-dropdown .submenu-indicator svg {
    transform: rotate(0)
  }
  .navigation-portrait .nav-dropdown > li > a {
    padding: 12px 15px 12px 26px
  }
  .megamenu-list {
    margin: 0;
  }
}