$fontFamily: 'yekanbakhmedium';
$fontFamilyBold: 'yekanbakhBold';
$fontTitle: 'iranbold';
$rounded: 5px;
$mainColor:  #0058A5;
$secondColor:   #FFDA01;
$transition: all ease .4s;
$shadow: 0 0 12px rgb(0 0 0 / 10%);
$border: 1px solid #ccc;
