$mainColor:  #342877;
$mainColor--test:  #6e55bb;
$secondColor: #2d3685;
$rounded: 12px;

$fontFamily: IRANSansWeb;
$fontFamily_b: IRANSansFaNum-Bold;
$s360-icon: s360-icon;

$searchBox-input-rounded: 12px;
$searchBox-input-border: 1px solid rgba(0,26,75,.3);
$searchBox-input-height: 45px;
$searchBox-input-color: #000;
$searchBox-input-color-placeholder: #777;
$searchBox-input-padding: 0 20px;
$searchBox-input-font-size: 12px;
$searchBox-input-background-color: #fff;