@import "components/variables";
@import "components/fonts";
@import "components/mixin";
@import "components/header";

body {
  font-family: $fontFamily, serif !important;
  overflow-x: hidden;
  direction: rtl;
  min-height: 100vh;
  background: #fff;
}
main, .content_tech {
  min-height: 100vh;
}
a, a:hover {
  text-decoration: none
}
button{
  outline: none;
  &:focus{
    outline: none;
  }
}
.button{
  @include flex-center-all();
  height: 39px;
  margin: 0;
  padding: 0 23px;
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
  border-radius: $rounded;
  transition: color .1s linear,background-color .1s linear,border-color .1s linear;
  border: 2px solid #303030;
  color: #303030;
  &:hover{
    background-color: $mainColor;
    border-color: $mainColor;
    color: #fff;
    text-decoration: none;
  }
}
.banner{
  position: relative;
  .banner-owl{
    width:100%;
    height: 100vh;
    min-height: 700px;
    overflow: hidden;
    .owl-banner {
      width:100%;
      height:100%;
      >.owl-stage-outer,
      >.owl-stage-outer>div,
      >.owl-stage-outer>div>.owl-item,
      >.owl-stage-outer>div>.owl-item>.item {
        height:100%;
        z-index: 2;
      }
      img {
        height:100%;
        object-fit:cover;
        position: absolute;
        inset: 0;
        z-index: -1;
        filter: brightness(.5);
      }
      >div>div>.owl-item>.item {
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        overflow: hidden;
        .text-banner{
          opacity: 0;
          transform: translateY(100px);
          transition: all .5s;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          h2{
            color: #fffefe;
            font-size: 56px;
            font-family: $fontFamilyBold;
            margin: 0 0 10px 0;
            text-align: center;
            padding: 0 30px;
          }
          h3{
            color: #fffefe;
            font-size: 21px;
            font-family: $fontFamilyBold;
            margin: 10px 0 35px 0;
            text-align: center;
            padding: 0 30px;
          }
          div{
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 10px;
            a{
              @include flex-center-all();
              height: 39px;
              margin: 0;
              padding: 0 23px;
              font-size: 13px;
              text-decoration: none;
              cursor: pointer;
              border-radius: $rounded;
              transition: color .1s linear,background-color .1s linear,border-color .1s linear;
              &.active{
                border-color: $mainColor;
                color: #fff;
                background-color: $mainColor;
                &:hover{
                  background-color: #fff;
                  border-color: #fff;
                  color: #a2a2a2;
                }
              }
              &.outline{
                color: #fff;
                border: 2px solid #fff;
                background-color: transparent;
                &:hover{
                  background-color: $mainColor;
                  border-color: $mainColor;
                }
              }
            }
          }
        }
      }
      .owl-item.active{
        .text-banner {
          opacity: 1 !important;
          transform: translateY(0) !important;
          transition: all .5s;
        }
      }
    }

    .owl-nav > button {
      outline: none;
      margin: 0 1rem;
      height: 54px !important;
      width: 54px !important;
      transition: all .3s !important;
      display: flex !important;
      align-items: center !important;
      justify-content: center !important;
      border-radius: 50% !important;
      border: 2px solid #fff !important;
      position: absolute;
      z-index: 2;
      top: 50%;
      transform: translateY(-50%);
    }
    .owl-nav > .owl-next {
      right: -100px
    }
    .owl-nav > .owl-prev {
      left: -100px
    }
    &:hover .owl-nav > .owl-next {
      right: 0 !important
    }
    &:hover .owl-nav > .owl-prev {
      left: 0 !important
    }
    .owl-nav > button > svg {
      width: 30px;
      height: 30px;
      fill: #fff;
    }

  }
}
.title{
  font-size: 24px;
  font-family: $fontFamilyBold;
  @include flex-center-all();
  flex-direction: column;
  &::after{
    content: "";
    margin-top: 1rem;
    width: 22px;
    height: 3px;
    border-radius: $rounded;
    background: #303030;
  }
}
#tabsTour{
  padding: 0;
  @include flex-center-all();
  margin: 1rem auto;
  height: 35px;
  width: 206px;
  background: rgba(255,255,255,.25);
  border: 1px solid #ccc;
  border-radius: $rounded;
  li{
    width: 100px;
    a{
      @include flex-center-all();
      height: 29px;
      position: relative;
      z-index: 2;
      width: 100%;
      font-size: 14px;
      color: #000;
      text-align: center;
      cursor: pointer;
      margin: 0;
      background: transparent;
      border: none;
      padding: 0;
      &.active{
        border-radius: $rounded;
        background-color: $mainColor;
        color: #fff;
      }
    }
  }
}
.tour{
  padding: 90px 0;
  background-color: #f6f6f6;
  .tour_box{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  a{
    display: flex;
    flex-direction: column;
    background: #fff;
    .img{
      position: relative;
      height: 260px;
      display: flex;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        transition: all .3s;
        object-fit: cover;
      }
      .hover_img{
        position: absolute;
        transition: all .3s;
        inset: 0;
        background: #0009;
        @include flex-center-all();
        opacity: 0;
        gap: 10px;
        >div{
          @include flex-center-all();
          color: #fff;
          border: 2px solid #fff;
          background-color: rgba(0,0,0,0);
          height: 30px;
          margin: 0;
          padding: 0 17px;
          font-size: 12px;
          text-decoration: none;
          cursor: pointer;
          border-radius: 4px;
          transition: color .1s linear,background-color .1s linear,border-color .1s linear;
          &:hover{
            background-color: $mainColor;
            border-color: $mainColor;
          }
        }
      }
    }
    .text{
      @include flex-center-all();
      flex-direction: column;
      padding: 15px 0;
      h4{
        color: #303030;
        font-size: 15px;
        margin-bottom: 10px;
        font-family: $fontFamilyBold;
      }
      p{
        margin: 0;
        color: #818181;
        font-size: 14px;
        display: flex;
        gap: 10px;
        align-items: center;
        i{
          font-style: normal;
          font-size: 13px;
          color: #a9a9a9;
        }
      }
    }
    &:hover{
      .img{
        img{
          transform: scale(1.2);
          width: 100%;
          height: 100%;
        }
        .hover_img{
          opacity: 1;
        }
      }

    }
  }
}
}
.counter-hotel-tour{
  background-image: url("../images/counter-hotel-tour.jpg");
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: #0008;
  background-blend-mode: darken;
  @include flex-center-all();
  gap: 50px;
  div{
    @include flex-center-all();
    flex-direction: column;
    gap: 10px;
    h2{
      color: #fffefe;
      font-size: 56px;
      font-family: $fontFamilyBold;
      text-align: center;
      padding: 0 30px;
    }
    h3{
      color: #fffefe;
      font-size: 21px;
      font-family: $fontFamilyBold;
      text-align: center;
      padding: 0 30px;
    }
  }
}
.hotel{
  padding: 90px 0;
  background-color: #f6f6f6;
  .hotel_box{
    margin-top: 1rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    gap: 10px;
    a{
      display: flex;
      flex-direction: column;
      background: #fff;
      .img{
        position: relative;
        height: 260px;
        display: flex;
        overflow: hidden;
        img{
          width: 100%;
          height: 100%;
          transition: all .3s;
        }
        .hover_img{
          position: absolute;
          transition: all .3s;
          inset: 0;
          background: #0009;
          @include flex-center-all();
          opacity: 0;
          gap: 10px;
          >div{
            @include flex-center-all();
            color: #fff;
            border: 2px solid #fff;
            background-color: rgba(0,0,0,0);
            height: 30px;
            margin: 0;
            padding: 0 17px;
            font-size: 12px;
            text-decoration: none;
            cursor: pointer;
            border-radius: 4px;
            transition: color .1s linear,background-color .1s linear,border-color .1s linear;
            &:hover{
              background-color: $mainColor;
              border-color: $mainColor;
            }
          }
        }
      }
      .text{
        @include flex-center-all();
        flex-direction: column;
        padding: 15px 0;
        h4{
          color: #303030;
          font-size: 15px;
          margin-bottom: 10px;
          font-family: $fontFamilyBold;
        }
        p{
          margin: 0;
          color: #818181;
          font-size: 14px;
          display: flex;
          gap: 10px;
          align-items: center;
          i{
            font-style: normal;
            font-size: 13px;
            color: #a9a9a9;
          }
        }
      }
      &:hover{
        .img{
          img{
            transform: scale(1.2);
            width: 100%;
            height: 100%;
          }
          .hover_img{
            opacity: 1;
          }
        }

      }
    }
  }
}
.app-main {
  background-color:#fff;
  border-radius:$rounded;
  background-blend-mode:multiply;
  background-size:230px;
  background-attachment:fixed;
  display:flex;
  padding:1rem 0;
  >div {
    display:flex;
    flex-direction:column;
    justify-content:center
  }
  >div>div {
    color:#333;
    display:flex;
    flex-direction:column;
    align-items:flex-start
  }
  >div>div>div>a:hover {
    text-decoration:none
  }
  >div>div>div>a>img {
    width:130px;
    filter:drop-shadow(0 0 1px #fff);
    transition:all .3s;
    height: 40px;
  }
  >div>div>h6 {
    font-size: 36px;
    font-family: $fontFamilyBold;
    margin: 0 0 10px 0;
    text-align: right;
  }
  >div>div>p {
    font-size:15px;
    font-family: $fontFamilyBold;
    text-align:justify;
  }
  >div>div>span {
    margin-bottom:15px;
    font-family: $fontFamilyBold;
    font-size:14px
  }
  >div>div>div>a:hover img {
    opacity:1
  }
}
.blog_section{
  padding: 90px 0;
  background-color: #edeeee;
}
.mainBlog{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  margin-top: 1rem;
}
.mainBlog > a:hover img{
  transform: scale(1.2);
}
.mainBlog > a{
  position: relative;
  z-index: 2;
  min-height: 420px;
  height: 420px;
  border-radius: $rounded;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 10px;
}
.mainBlog > a > div{
  text-align: right
}
.mainBlog > a > div > h2{
  font-family: $fontFamilyBold;
  color: #fff;
  margin-bottom: .5rem;
  font-size: 1.2rem;
}
.mainBlog > a > div > p{
  overflow: hidden;
  margin: 0;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  color: #fff;
  font-size: .8rem;
}
.mainBlog > a > img{
  transition: all .3s;
  width: 100%;
  position: absolute;
  z-index: -1;
  height: 100%;
  inset: 0;
  filter: brightness(.6);
  object-fit: cover;
}
.mainBlog > div{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 0;
  grid-row-gap: 20px;
}
.mainBlog > div > a{
  position: relative;
  z-index: 2;
  min-height: 200px;
  border-radius: $rounded;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 10px;
  img{
    width: 100%;
    position: absolute;
    z-index: -1;
    height: 100%;
    inset: 0;
    filter: brightness(.5);
    object-fit: cover;
    transition: all .3s;
  }
  &:hover img{
    transform: scale(1.2);
  }
  div{
    text-align: right;
    h2 {
      font-family: $fontFamilyBold;
      color: #fff;
      margin-bottom: .5rem;
      font-size: 1.2rem;
    }
    p {
      overflow: hidden;
      margin: 0;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      color: #fff;
      font-size: .7rem;
    }
  }
}

.text-last{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  >div{
    display: flex;
    gap: 5px;
    svg{
      width: 15px;
      height: 15px;
      fill: #fc0;
    }
  }
}

@import "components/footer";

@media (max-width: 992px){
  .mainBlog > a:not(:nth-child(1) , :nth-child(2)){
    display: none;
  }
  .mainBlog{
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 20px;
  }
  .text-banner{
    display: none !important;
  }
  .owl-banner .owl-nav{
    display: none !important;
  }
  .tour_box,
  .hotel_box{
    gap: 20px !important;
    grid-template-columns: repeat(1, 1fr) !important;
  }

  .tour{
    padding: 50px 0 !important;
  }
  .hotel{
    padding: 50px 0 !important;
  }
  .blog_section{
    padding: 50px 0 !important;
  }
}
@media (max-width: 600px) {
  .mainBlog{
    grid-template-columns: repeat(1, 1fr)!important;
    >div{
      display: none!important;
    }
  }
}