$fontFamily: sans-serif;
$fontFamilyBold: sans-serif;
$rounded: 30px;
$mainColor: #435B66;
$secondColor: #2D4356;
$thirdColor: #F7DB6A;
$height-search-box: 48px;
$size_search_input: 13px;
$border: 1px solid #ccc;
