@import "components/variables";
@import "components/fonts";
.banner{
  position: relative;
  z-index: 4;
  height: 100vh;
  min-height: 700px;
  .OWL_slider_banner {
    position: absolute;
    width: 100%;
    inset: 0;
    z-index: -1;
    height: 100%;
    > div,
    > div > div,
    > div > div > .owl-item,
    > div > div > .owl-item > .item {
      height: 100%
    }
    img {
      height: 100%;
      object-fit: cover;
      filter: brightness(.5);
    }
    .owl-item.active img {animation: anim_banner_2 5s linear;}
    > div > div > .owl-item > .item {
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      overflow: hidden;
    }
  }
  .context_banner{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    height: 100%;
    gap: 30px;
    padding-top: 210px;
    .textBox_banner{
      width: 100%;
      .container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        span{
          padding: 10px 15px;
          background-color: #FFFFFF0D;
          border: $border;
          color: #fff;
          border-radius: 100px;
          -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
        }
        h2{
          font-size: 3rem;
          font-family: $fontFamilyBold;
          color: #fff;
          margin: 1rem 0 0 0;
          text-shadow: 0 0 20px #000;
        }
      }
    }
    .searchBox_banner{
      width: 100%;
    }
  }
}
@keyframes anim_banner_2 {0%{transform: scale(1.1);} 100%{transform: scale(1);}}
.blog-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 25px;
  .div1 { grid-area: 1 / 1 / 5 / 2; height: 550px; }
  .div2 { grid-area: 1 / 2 / 3 / 3; }
  .div3 { grid-area: 1 / 3 / 3 / 4; }
  .div4 { grid-area: 3 / 2 / 5 / 4; }
  >div{
    >a{
      border-radius: $rounded;
      border: $border;
      overflow: hidden;
      position: relative;
      height: 100%;
      z-index: 2;
      display: flex;
      flex-direction: column;
      &::after{
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
        width: 100%;
        height: 100%;
        display: flex;
        background: linear-gradient(transparent,#000);
      }
      &:hover{
        img{
          transform: scale(1.3);
        }
        >div{
          >i {
            background: #fff;
            >svg{
              fill: #333;
            }
          }
        }
      }
      >img{
        position: absolute;
        z-index: -1;
        transition: all .3s;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      >div{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 100%;
        padding: 1rem;
        >i{
          display: flex;
          justify-content: center;
          align-items: center;
          width: 50px;
          height: 50px;
          border: 2px solid #ccc;
          border-radius: 100%;
          transition: all .3s;
          >svg{
            width: 30px;
            height: 30px;
            fill: #fff;
          }
        }
        >div{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          width: calc(100% - 50px);
          h4{
            font-size: 1.5rem;
            font-family: $fontFamilyBold;
            color: #fff;
            margin: 0 0 .7rem 0;
            text-align: right;
          }
          span{
            font-size: 1rem;
            color: #fff;
          }
        }
      }
    }
  }
}
.news-grid{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 25px;
  .div1 { grid-area: 1 / 1 / 2 / 2;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    h2{
      font-size: 2.5rem;
      font-family: $fontFamilyBold;
      color: #333;
      margin-bottom: 1rem;
    }
    p{
      font-size: 1rem;
      color: #555;
      text-align: justify;
      margin-bottom: 0;
    }
  }
  .div2 { grid-area: 2 / 1 / 4 / 2;
    >a{
      border-radius: $rounded;
      border: $border;
      overflow: hidden;
      position: relative;
      height: 100%;
      z-index: 2;
      display: flex;
      flex-direction: column;
      &::after{
        content: "";
        position: absolute;
        z-index: -1;
        inset: 0;
        width: 100%;
        height: 100%;
        display: flex;
        background: linear-gradient(transparent,#000);
      }
      &:hover{
        img{
          transform: scale(1.3);
        }
        >div{
          >i {
            background: #fff;
            >svg{
              fill: #333;
            }
          }
        }
      }
      >img{
        position: absolute;
        z-index: -1;
        transition: all .3s;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
      >div{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        height: 100%;
        padding: 1rem;
        >div{
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          h4{
            font-size: 1.5rem;
            font-family: $fontFamilyBold;
            color: #fff;
            margin: 0 0 .7rem 0;
          }
          span{
            font-size: 1rem;
            color: #fff;
            display: flex;
            align-items: center;
            gap: 5px;
            svg{
              width: 15px;
              height: 15px;
              fill: #fff;
            }
          }
        }
      }
    }
  }
  .div3 { grid-area: 1 / 2 / 2 / 3; }
  .div4 { grid-area: 2 / 2 / 3 / 3; }
  .div5 { grid-area: 3 / 2 / 4 / 3; }
  .news_box{
    display: flex;
    gap: 10px;
    height: 100%;
    &:hover{
      .news_box_img{
        img {
          transform: scale(1.3);
        }
      }
    }
    .news_box_img{
      width: 300px;
      height: 100%;
      overflow: hidden;
      border-radius: $rounded;
      img{
        width: 100%;
        transition: all .3s;
        height: 100%;
        object-fit: cover;
      }
    }
    .news_box_text{
      width: calc(100% - 300px);
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 10px 0;
      h4{
        font-size: 1.3rem;
        font-family: $fontFamilyBold;
        color: #333;
        text-align: justify;
        margin: 0 0 1rem 0;
      }
      p{
        font-size: 1rem;
        color: #333;
        text-align: justify;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
      }
      span{
        font-size: 1rem;
        color: #333;
        display: flex;
        align-items: center;
        gap: 5px;
        margin-top: auto;
        svg{
          width: 15px;
          height: 15px;
          fill: #333;
        }
      }
    }
  }
}
.news_main {
  min-height: 300px;
  background-image: url("../images/news.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-blend-mode: darken;
  background-color: #0009;
  background-position: center;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.news_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  >h2{
    font-size: 1.5rem;
    font-family: $fontFamilyBold;
    color: #fff;
    margin: 0;
  }
}
.news_main form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 1rem;
}
.button {
  z-index: 1;
  position: relative;
  overflow: hidden;
  color: #fff;
  height: $height-search-box;
  border: 1px solid #fff;
  padding: 12px 15px;
  font-size: $size_search_input;
  border-radius: 10px;
  transition: all .5s;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  background: transparent;
}
.button::before {
  content: '';
  margin: auto;
  height: 0;
  width: 0;
  position: absolute;
  background-color: $thirdColor;
  z-index: -1;
  border-radius: 50%;
  transition: all .5s;
}
.button:hover{
  color: #333 !important;
}
.button:hover::before {
  height: 350px;
  width: 350px;
}
.news_main form .button {
  color: #fff;
  border: 1px solid #fff;
}
.news_main form > label {
  display: flex;
  flex-direction: column;
}
.news_main form > label span {
  color: #fff;
  text-align: justify;
  margin-bottom: 5px;
  font-size: .9rem;
}
.news_main form > label input {
  height: $height-search-box;
  border-radius: 10px;
  border: none;
  padding: 1rem;
  font-size: $size_search_input;
  outline: none;
}
.mb-2-5 {
  margin-bottom: 8px;
}
.ui-corner-all {
  z-index: 4 !important;
}


.news_title{
  display: none;
}
@media (max-width: 1200px) {
  .news_title{
    display: flex;
    font-size: 2rem;
    font-family: $fontFamilyBold;
    color: #333;
    margin-bottom: 2rem;
  }
  .news-grid{
    grid-template-columns: repeat(1, 1fr);
    .div1, .div2{
      display: none;
    }
    >div{
      grid-area:unset !important;
    }
  }
}
@media (max-width: 991px) {
  .banner{
    height: unset;
    min-height: unset;
    display: flex;
    flex-direction: column;
    .OWL_slider_banner {
      position: static;
      height: 400px;
    }
    .context_banner{
      margin-top: -120px;
      width: 100%;
      .textBox_banner .container h2 {
        font-size: 2rem;
      }
    }
  }
  .searchs_box #myTab {
    grid-template-columns: repeat(2, 1fr);
  }
  .blog-grid {
    grid-template-columns: repeat(2, 1fr) !important;
    grid-template-rows: repeat(1, 1fr);
    >div {grid-area: unset !important;height: 450px !important}
  }
}
@media (max-width: 768px) {
  .blog-grid {
    grid-template-columns: repeat(1, 1fr) !important;
  }
  .news-grid .news_box{
    flex-direction: column;
    .news_box_img {
      width: 100%;
    }
    .news_box_text {
      width: 100%;
    }
  }
}
@media (max-width: 545px) {
  .banner .context_banner .textBox_banner .container h2 {
    font-size: 1.5rem;
  }
  .banner .context_banner {
    margin-top: -320px;
    width: 100%;
  }
}