$fontFamily: IRANSansWeb;
$fontFamilyBold: IRANSansFaNum-Bold;
$rounded: 30px;
$mainColor: var(--mainColor);
$secondColor: var(--secondColor);
$thirdColor: #F7DB6A;
$height-search-box: 48px;
$size_search_input: 13px;
$border: 1px solid #ccc;
